.k{color:#006bf0;}.k{color:#0050b4;}.kc{color:#0050b4;}.kd{color:#0050b4;}.kn{color:#0050b4;}.kp{color:#0050b4}.kr{color:#0050b4;}.kt{color:#158c00}.c{color:#808080;}.cm{color:#808080;}.c1{color:#808080;}.cp{color:#b40007}.cs{color:#7300b4;}.n{color:#000000;}.nb{color:#19177C}.na{color:#7300b4}.nc{color:#7300b4;}.no{color:#880000}.nd{color:#7300b4}.ni{color:#c85000;}.ne{color:#b40007;}.nf{color:#7300b4}.nl{color:#A0A000}.nn{color:#7300b4;}.nt{color:#0050b4;}.nv{color:#000000}.o{color:#0050b4}.ow{color:#0050b4}.l{color:#c85000}.m{color:#c85000}.mf{color:#c85000}.mh{color:#c85000}.mi{color:#c85000}.mo{color:#c85000}.il{color:#c85000}.s{color:#c85000}.sb{color:#c85000}.sc{color:#c85000}.sd{color:#c85000;}.s2{color:#c85000}.se{color:#c85000;}.sh{color:#c85000}.si{color:#c85000;}.sx{color:#c85000}.sr{color:#c85000}.s1{color:#c85000}.ss{color:#c85000}.gd{color:#A00000}.ge{}.gr{color:#FF0000}.gh{color:#000080;}.gi{color:#00A000}.go{color:#808080}.gp{color:#000080;}.gs{}.gu{color:#800080;}.gt{color:#0040D0}.bp{color:#008000}.vc{color:#00ff00}.vg{color:#19177C}.vi{color:#19177C}.w{}.err{border:1px solid #FF0000}
/*
     FILE ARCHIVED ON 02:56:00 Nov 10, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:29:55 Dec 11, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 2350.897 (5)
  load_resource: 1958.211 (2)
  RedisCDXSource: 25.177
  captures_list: 778.296
  exclusion.robots.policy: 0.182
  exclusion.robots: 0.197
  PetaboxLoader3.resolve: 286.022 (2)
  LoadShardBlock: 726.345 (3)
  esindex: 0.017
  CDXLines.iter: 21.936 (3)
*/